<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />
    <meta name="HandheldFriendly" content="true" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Welcome to Movendless</title>

    <!-- Meta Tags for social sites -->
    <meta name="description" content="Movendless | Create your own Movie/Tv Shows Collection">
    <meta name="keywords" content="movendless, movie, collection, create" />
    <meta name="author" content="Movendless Developer Team">
    <meta property="og:title" content="Welcome to Movendless"/>
    <meta property="og:image" content="http://movendless.com/images/logos/3.png"/>
    <meta property="og:site_name" content="Welcome to Movendless"/>
    <meta property="og:description" content="Movendless | Create your own Movie/Tv Shows Collection"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="http://movendless.com/">
    <meta name="twitter:title" content="Welcome to Movendless">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="http://movendless.com/images/logos/3.png">
    <meta name="twitter:site" content="@movendless">
    <meta name="twitter:creator" content="@movendless">
    <meta name="google-site-verification" content="LDYNAswOeyCWqsjbkFL3gJrjQYgeXXoRd7Qc4rHXZrM" />

    <link rel="stylesheet" type="text/css" href="/css/style.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <!--[if IE]>
    <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style> 
    body {
        padding-top: 50px;  
    }
    </style>
    
</head>
<body>
    {{{body}}}
</body>
</html>