<div class="container">

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                {{#each requests}}
                    <a href="/friend-requests/add/{{this.sender.id}}" class="btn btn-default btn-sm">Accept</a>
                    {{this.name}}
                    <br><br>
                {{/each}}
            </div>
        </div>

    </div>

</div>