<div class="container text-center">
    <a href="/profile/{{user.local.username}}" class="btn btn-default btn-sm">Profile</a>
    <a href="/friend-requests" class="btn btn-default btn-sm">Friend Requests</a>
</div>

<div class="jumbotron text-center">
    <h1><span class="fa fa-home"></span> Hello Back {{user.local.nameSurname}}</h1>

    <strong>id</strong>: {{user._id}} <br>
    <strong>email</strong>: {{user.local.email}} <br>
    <strong>username</strong>: {{user.local.username}} <br>
    <strong>name</strong>: {{user.local.nameSurname}} <br>

</div>