<div class="container">
    {{#if message}}
		{{ message }}
    {{/if}}
	<!-- LOGIN FORM -->
	<form action="/login" method="post">
	    <div class="form-group">
	        <label>Email or Username</label>
	        <input type="text" class="form-control" name="email">
	    </div>
	    <div class="form-group">
	        <label>Password</label>
	        <input type="password" class="form-control" name="password">
	    </div>

	    <button type="submit" class="btn btn-warning btn-lg">Login</button>
	</form>

	<hr>

	<p>Need an account? <a href="/register">Signup</a></p>
	<p>Or go <a href="/">home</a>.</p>
</div>