<div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Welcome to Movendless</h1>

    <p>Login or Register with:</p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
    <a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
</div>