<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        {{#if loginned}}
            <a href="/settings" class="btn btn-default btn-sm">Settings</a>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        {{/if}}
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> {{user.local.nameSurname}}</h3>

                <img src="{{ user.local.picture }}" alt="">

                <p>
                    <strong>username</strong>: {{user.local.username}} <br>
                    <strong>email</strong>: {{user.local.email}} <br>
                    <strong>Email Validate</strong>: {{user.local.emailValid}} <br>
                    <strong>Validated Profile</strong>: {{user.local.valid}} <br>
                    <strong>name</strong>: {{user.local.nameSurname}}
                </p>

                {{#if itself}}
                    yep self
                {{else}}
                    {{#if loginned}}
                        <a href="/friend-request/{{user.local.username}}">Send Friend Request</a>
                    {{/if}}
                {{/if}}

            </div>
        </div>

    </div>

</div>