<div class="container">
    {{#if message}}
        <div class="alert alert-danger"> {{ message }}</div>
    {{/if}}
    <form action="/register" method="post">
        <div class="form-group">
            <label>Name Surname</label>
            <input type="text" class="form-control" name="displayName">
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Signup</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>
</div>