<div class="container">
	<!-- LOGIN FORM -->
	<form action="/settings" method="post">
		<h1>Update Profile</h1>
	    <div class="form-group">
	        <label>Name Surname</label>
	        <input type="text" class="form-control" name="nameSurname" placeholder="{{user.local.nameSurname}}">
	    </div>
	    <div class="form-group">
	        <label>Update Password</label>
	        <input type="password" class="form-control" name="password" placeholder="******">
	        <label>Retype</label>
	        <input type="password" class="form-control" name="password" placeholder="******">
	    </div>
	    <div class="form-group">
	        <label>Email</label>
	        <input type="text" class="form-control" name="email" placeholder="{{user.local.email}}">
	    </div>

	    <button type="submit" class="btn btn-warning btn-lg">Submit</button>
		<p>Or go <a href="/profile/{{user.local.username}}">Profile</a>.</p>
	</form>

</div>